Django<5
django-cors-headers
django-enumfields2
django-environ
django-etuovi
django-oikotie
django-helusers
git+https://github.com/incuna/django-pgcrypto-fields@5b4b8eed3f9636ba3331f26e41a639fe4bee9247#egg=django-pgcrypto-fields
django-simple-history
djangorestframework
djangorestframework-simplejwt
drf-oidc-auth
drf-spectacular
elasticsearch
elasticsearch-dsl>=7.0.0,<8.0.0
Faker
hashids
psycopg2
python-stdnum
sentry-sdk
social-auth-app-django
whitenoise
pikepdf
num2words
paramiko
