-c requirements.txt
black==22.3.0
django-test-migrations
factory-boy
flake8
ipython
isort
pip-tools
pre-commit
pylint-django
pytest
pytest-cov
pytest-django
pytest-sugar
python-dateutil
pytest-freezegun
