Django
django-cors-headers
django-enumfields
django-environ
django-etuovi
# temporary
git+https://github.com/City-of-Helsinki/django-oikotie.git@schema-validation
django-helusers==0.13.0
git+https://github.com/incuna/django-pgcrypto-fields@5b4b8eed3f9636ba3331f26e41a639fe4bee9247#egg=django-pgcrypto-fields
django-simple-history
djangorestframework
djangorestframework-simplejwt
drf-oidc-auth
drf-spectacular
elasticsearch~=7.14.0
elasticsearch-dsl>=7.0.0,<8.0.0
Faker~=8.6.0
hashids~=1.3.1
psycopg2
python-stdnum
sentry-sdk
social-auth-app-django
whitenoise
pikepdf
num2words
paramiko
XlsxWriter==3.2.2
